:root {
  --color-white: #fff;
  --color-black: #000;
  --color-grey-light: #eee;
  --color-grey-dark: #42494f;
  --color-blue-darkest: #001a31;
  --color-blue-dark: #00527a;
  --color-blue-mid: #00719c;
  --color-blue-light: #a5c4ca;
  --color-beige: #eedeb7;
  --color-orange-light: #eba700;
  --color-orange-mid: #cc7f00;
  --color-orange-dark: #ba5909;
  --color-red-1: #ae3a18;
  --color-red-2: #a33e2a;
  --box-shadow-default: 3px 6px 12px rgba(0, 0, 0, 0.12);
}

/* Basic Reset */
* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%; /* 1rem = 10px */
}

body {
  font-family: "Comfortaa", sans-serif;
  font-weight: 400;
  line-height: 1.7;
  /* background-color: var(--color-white); */
  /* background: linear-gradient(to bottom right, #00719c, #00334d); */
  /* background: linear-gradient(
    to bottom right,
    var(--color-blue-light),
    var(--color-beige)
  ); */
  background-size: cover;
  color: var(--color-blue-darkest);
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

h1 {
  font-size: 3rem;
  font-weight: 300;
}

a {
  text-decoration: none;
  color: var(--color-blue-darkest);
}

.cls-1 {
  fill: var(--color-white);
  background-color: var(--color-white);
}

.cls-2 {
  fill: var(--color-black);
  background-color: var(--color-black);
}

.cls-3 {
  fill: var(--color-grey-light);
  background-color: var(--color-grey-light);
}

.cls-4 {
  fill: var(--color-grey-dark);
  background-color: var(--color-grey-dark);
}

.cls-5 {
  fill: var(--color-blue-darkest);
  background-color: var(--color-blue-darkest);
}

.cls-6 {
  fill: var(--color-blue-dark);
  background-color: var(--color-blue-dark);
}

.cls-7 {
  fill: var(--color-blue-mid);
  background-color: var(--color-blue-mid);
}

.cls-8 {
  fill: var(--color-blue-light);
  background-color: var(--color-blue-light);
}

.cls-9 {
  fill: var(--color-beige);
  background-color: var(--color-beige);
}

.cls-10 {
  fill: var(--color-orange-light);
  background-color: var(--color-orange-light);
}

.cls-11 {
  fill: var(--color-orange-mid);
  background-color: var(--color-orange-mid);
}

.cls-12 {
  fill: var(--color-orange-dark);
  background-color: var(--color-orange-dark);
}

.cls-13 {
  fill: var(--color-red-1);
  background-color: var(--color-red-1);
}

.cls-14 {
  fill: var(--color-red-2);
  background-color: var(--color-red-2);
}

.hidden {
  animation: fade-out 0.2s;
  visibility: hidden;
  display: none !important;
  /* height: 0 !important; */
}

.visible {
  animation: fade-in 0.2s;
  visibility: visible;
}

.container {
  position: absolute;
  background-color: var(--color-grey-light);
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  box-shadow: -3px 6px 20px rgba(0, 0, 0, 0.3);
  min-height: 42rem;
  min-width: 123rem;
  overflow: hidden;
}

.page-1,
.page-2 {
  display: flex;
  width: 100%;
  height: 100%;
}

.page-1 h1 {
  margin-bottom: 3rem;
}

.left,
.right,
.menu,
.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.left {
  width: 70%;
}

.right {
  width: 30%;
}

.logo-container,
.logo-container-top {
  display: flex;
  align-items: center;
}

.logo-container-top {
  padding: 0 2rem;
  height: 100%;
}

.logo {
  height: 7rem;
  padding: 0.5rem;
}

.logo-top {
  padding: 0 0.7rem;
  height: 3em;
}

.login {
  background-color: var(--color-blue-darkest);
}

.signup {
  background-color: var(--color-red-2);
}

.login-hover:hover {
  background-color: var(--color-blue-dark);
}

.signup-hover:hover {
  background-color: var(--color-orange-dark);
}

.login-form,
.signup-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.input-container {
  margin: 0.5rem;
}

.input-field {
  padding: 1rem 1rem 1rem 6rem;
  border: 0.5px solid #ccc;
  border-radius: 0.5rem;
  box-shadow: 1px 2px 6px rgba(0, 0, 0, 0.2);
  font-size: 1.5rem;
  outline: none;
  transition: background-color 0.2s;
}

.input-field:hover {
  background-color: rgb(232, 240, 254);
}

/* .username-field:active,
.password-field:active {
} */

.login-form i,
.signup-form i {
  position: absolute;
}

.icon {
  padding: 1.2rem 2rem 1.2rem 1.4rem;
  border-radius: 0.5rem;
  font-size: 1.5rem;
  color: var(--color-white);
  clip-path: polygon(0% 0%, 75% 0%, 100% 50%, 75% 100%, 0% 100%);
}

.submit-btn {
  margin: 2rem;
  padding: 1.2rem 4rem;
  color: var(--color-white);
  border: none;
  border-radius: 0.6rem;
  box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  transition: background-color 0.2s;
}

.login-btn:active,
.signup-btn:active {
  box-shadow: 0.5px 1px 3px rgba(0, 0, 0, 0.35);
}

.forgot-password {
  margin-top: 0.3rem;
  font-size: 1.4rem;
  color: var(--color-blue-dark);
}

.forgot-password:hover {
  text-decoration: underline;
}

.sign-up {
  margin-top: 5rem;
  font-size: 1.5rem;
}

.sign-up a {
  color: var(--color-blue-mid);
}

.sign-up a:hover {
  text-decoration: underline;
}

.top-bar {
  height: 7%;
  background-color: var(--color-grey-light);
  display: flex;
  align-items: center;
  border-bottom: 1px solid #ddd;
  box-shadow: 0 3px 20px rgba(0, 0, 0, 0.1);
}

.spacer {
  flex-grow: 1;
}

.top-settings {
  font-size: 2.5rem;
  color: rgb(141, 141, 141);
  cursor: pointer;
  padding: 2.25rem;
  transition: background-color 0.2s;
}

.user-div {
  padding: 0 2rem;
  display: flex;
  align-items: center;
  cursor: pointer;
  height: 100%;
  transition: background-color 0.2s;
}

.top-user {
  margin-right: 0.5rem;
  border-radius: 50%;
  height: 4.5rem;
}

.top-username {
  font-size: 1.3rem;
  color: var(--color-blue-darkest);
  font-weight: 700;
}

.top-settings:hover,
.user-div:hover {
  background-color: var(--color-grey-light);
}

.page-3 {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.page-3-body {
  display: flex;
  width: 100%;
  height: 93%;
}

.menu {
  min-width: 23.5rem;
  height: 100%;
  background-color: var(--color-blue-darkest);
  color: var(--color-white);
  align-items: flex-start;
  justify-content: flex-start;
}

.menu ul {
  width: 100%;
  /* margin-top: 5rem; */
  list-style: none;
  font-size: 1.5rem;
  font-weight: 400;
  letter-spacing: 0.5px;
}

.menu ul:first-child {
  padding-top: 7.25rem;
  flex-grow: 1;
}

.menu ul:last-child {
  padding-bottom: 5rem;
}

.menu ul li {
  position: relative;
  padding: 1.5rem 3rem 1.1rem 3rem;
  cursor: pointer;
  box-shadow: inset 0 0 0 0 var(--color-blue-darkest);
  z-index: 10;
  transition: color 0.2s;
}

.menu ul li:not(.menu ul li:last-child) {
  margin-bottom: 0.5rem;
}

.menu ul li::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 3px;
  background-color: var(--color-grey-light);
  transform: scaleY(0);
  transition: transform 0.1s, width 0.3s cubic-bezier(1, 0, 0, 1) 0.1s;
  z-index: -10;
}

.menu ul li:hover {
  /* animation: slide-in 0.3s ease-out; */
  /* background-color: var(--color-grey-light); */
  color: var(--color-blue-darkest);
}

.menu ul li:hover::before {
  transform: scaleY(1);
  width: 100%;
}

.menu-selected {
  background-color: var(--color-grey-light);
  color: var(--color-blue-darkest);
  font-weight: 500;
}

.content {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  /* overflow-y: scroll; */
  /* padding-bottom: 5rem; */
  background-color: #eaeaea;
  height: 100%;
}

.data-grid {
  padding: 5rem 0;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  gap: 10rem 0;
  overflow-y: scroll;
  height: 100%;
}

.data-page {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.data-title {
  margin: 1.5rem 3rem;
  font-size: 2.5rem;
  font-weight: 300;
  align-self: flex-start;
  grid-column: 1 / span 6;
}

.chart-container {
  grid-column: 2 / span 3;
  padding: 0 5rem;
  min-width: 50rem;
}

.chart-data {
  grid-column: 5;
  /* display: flex;
  align-items: center; */
  display: flex;
  flex-direction: column;
  align-items: center;
}

.months-table {
  font-size: 1.3rem;
  font-weight: 500;
}

.months-table-title {
  font-size: 1.5rem;
  text-align: center;
}

.months-table thead {
  font-size: 1.4rem;
  font-weight: 700;
}

.months-table thead td {
  border-bottom: 1px solid var(--color-blue-light);
  background-color: #eaeaea;
}

.months-table tr:nth-child(2n + 1) {
  background-color: #f3f3f3;
}

.months-table td {
  padding: 0 1rem;
}

.months-table td:first-child {
  text-align: right;
  border-right: 1px solid var(--color-blue-light);
}

.months-table td:nth-child(2),
.months-table td:nth-child(3) {
  text-align: center;
}

.filter-div {
  padding: 1.5rem 1rem 1.5rem 0rem;
  font-size: 1.3rem;
  background-color: var(--color-grey-light);
  width: 100%;
  text-align: right;
  grid-column: 1 / span 6;
}

.filter-div input {
  margin-left: 3rem;
}

.filter-div input[type="checkbox"] {
  transform: translateY(0.1rem);
}

.filter-div select {
  padding: 0 0.5rem;
  border-radius: 0.3rem;
}

@keyframes fade-in {
  0% {
    visibility: hidden;
    opacity: 0;
  }
  100% {
    opacity: 1;
    visibility: visible;
  }
}

@keyframes fade-out {
  0% {
    visibility: visible;
    opacity: 1;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}

/* @keyframes slide-in {
  0% {
    box-shadow: inset 0 0 0 0 var(--color-blue-darkest);
    background-color: var(--color-blue-darkest);
    color: var(--color-white);
  }

  50% {
    box-shadow: inset 1rem 0 0 0 var(--color-grey-light);
    color: var(--color-white);
  }

  60% {
    color: var(--color-white);
  }

  100% {
    box-shadow: inset 22rem 0 0 0 var(--color-grey-light);
    background-color: var(--color-blue-darkest);
    color: var(--color-blue-darkest);
  }
} */
